* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Visual';
  font-size: 14px;
  line-height: 18px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.root-wrap {
  position: relative;
  height: 100%;
  width: 100%;
}

.main-wrap {
  display: block;
  height: 100%;
  width: 100%;
  position: fixed;
}

.main-inner {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  height: 100%;
  width: 100%;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding-top: 60px;

  @media screen and (min-width: 984px) {
    margin: 0 auto;
    align-items: flex-start;
  }
}

.container-logo {
  position: relative;
  display: block;

  &--wrap {
    position: relative;
    width: 145px;
    margin: 0 auto;

    @media screen and (min-width: 984px) {
      width: 175px;
      margin: 0;
    }
  }
}
