.page-deep-fried .container-logo {
  top: -25px;
}

.deep-fried--media {
  &-container {
    position: relative;
    display: block;
    padding: 60px 16px 0 0;
    width: 100%;

    @media screen and (min-width: 984px) {
      padding: 100px 35px 0 0;
    }
  }

  &-block {
    position: relative;
    display: block;
    padding-bottom: 30px;

    @media screen and (min-width: 984px) {
      width: 70%;
      margin: 0 auto;
    }
  }

  &-placeholder {
    position: relative;
    display: block;
    padding-top: 55%;
    background-color: rgba(255, 255, 255, .2);

    &.is-video {
      padding-top: 0;
    }

    img {
      position: absolute;
      display: block;
      width: 100%;
      top: 0;
      left: 0;
      transition: opacity .4s ease-in-out;
    }
  }

  &-play-btn {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    width: 25%;
    max-width: 80px;
    z-index: 2;

    @media screen and (min-width: 984px) {
      width: 140px;
      height: 140px;
      max-width: none;
    }

    &.is-hidden {
      display: none;
    }

    &:hover {
      svg circle {
        stroke: #000;
        fill: #000;
      }

      svg path {
        stroke: #fff;
        fill: #fff;
      }
    }

    svg {
      position: relative;
      display: block;
    }

    svg circle,
    svg path {
      transition: all .4s ease-in-out;
    }
  }

  &-name {
    position: relative;
    display: none;
    color: #fff;
    text-transform: uppercase;

    @media screen and (min-width: 984px) {
      display: block;
      font-size: 26px;
      line-height: 40px;
    }
  }
}
