.page {
  height: 100%;
  width: 0px;
  max-width: calc(100vw - 120px);
  overflow: hidden;
  flex-grow: 0.001;
  flex-shrink: 1;
  flex-basis: auto;
  transition: all .3s linear;

  @media screen and (min-width: 984px) {
    width: 200px;
    max-width: calc(100vw - 210px - 400px);
  }
}

.page-transition-enter-done,
.page-transition-enter-active {
  flex-grow: 1;
}

.page-records {
  background: #000;
}

.page-publishing {
  background: #ca0a2b;
}

.page-deep-fried {
  background: #07532e;
}

.page-inner {
  position: relative;
  display: block;
  width: calc(100vw - 120px + 20px);
  height: 100%;
  padding-right: 20px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  @media screen and (min-width: 984px) {
    width: calc(100vw - 210px - 400px + 20px);
  }
}

.page h1 {
  margin-top: 0;
}

.marquee3k__copy {
  padding-right: 3px;
}
