.records--single {
  &-container {
    position: relative;
    display: block;
    padding: 54px 16px 0 0;
    width: 100%;

    @media screen and (min-width: 984px) {
      padding: 54px 35px 0 0;
    }
  }

  &-item {
    position: relative;
    display: block;
    padding-bottom: 20px;
    width: 100%;

    &:last-of-type {
      padding-bottom: 0;
    }
  }

  &-image {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;

    @media screen and (min-width: 984px) {
      display: inline-block;
      vertical-align: top;
      width: 31.5%;
    }
  }

  &-image-holder {
    position: relative;
    width: 100%;
    padding-top: 100%;
    background: linear-gradient(90deg, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
    animation: ant-skeleton-loading 1.4s ease infinite;
    background-size: 400% 100%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      opacity: 0;
      transition: opacity .4s ease-in-out;
      background: black;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      background: #f2f2f2;
      transition: opacity .4s ease-in-out;
    }

    &:hover {
      @media screen and (min-width: 984px) {
        .records--single-icon {
          opacity: 1;
        }

        &:after {
          opacity: .5;
        }
      }
    }
  }

  &-info {
    display: block;
    color: #fff;
    text-transform: uppercase;
    border-top: 1px solid #fff;
    font-size: 18px;
    line-height: 28px;
    margin-top: 20px;
    text-align: center;

    > div {
      position: relative;
      display: block;
      border-bottom: 1px solid #fff;

      &:last-of-type {
        border-bottom: 0;
      }
    }

    @media screen and (min-width: 984px) {
      width: 65.5%;
      margin-left: 3%;
      display: inline-block;
      vertical-align: top;
      font-size: 26px;
      line-height: 40px;
      margin-top: 0px;
      text-align: left;
    }
  }

  &-socials-wrap {
    height: 28px;

    @media screen and (min-width: 984px) {
      height: 40px;
    }
  }

  &-socials {
    position: relative;
    display: flex;
    height: 28px;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 984px) {
      height: 40px;
      justify-content: flex-start;
    }
  }

  &-icon {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 46.999px;
    opacity: 0;
    z-index: 2;
    transition: opacity .4s ease-in-out;
  }
}

.records--email-info {
  position: absolute;
  display: block;
  top: 10px;
  color: #fff;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  left: 50%;
  transform: translateX(-50%);

  @media screen and (min-width: 984px) {
    font-size: 26px;
    top: 30px;
    right: 35px;
    left: auto;
    transform: none;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.records--single-link {
  position: relative;
  display: block;
  color: inherit;
  text-decoration: none;

  svg {
    position: relative;
    display: block;
  }
}

.records--legal-info {
  position: absolute;
  display: none;
  bottom: 15px;
  right: 35px;
  color: #fff;
  font-size: 26px;
  line-height: 40px;
  cursor: pointer;
  text-transform: uppercase;

  @media screen and (min-width: 984px) {
    display: block;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

@keyframes ant-skeleton-loading {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
